{% extends "layout.html" %}
{% block body %}
        <h2>Page Not Found</h2>
        <p>OOPS! Videosharer couldn't find your page. Looks like it doesn't exist.</p>
        <p>If you entered the URL manually, please check your spelling and try again.</p>
{% endblock %}
