{% extends "layout.html" %}
{% block body %}
<label class="label-top">
    Wellcome to VideoSharer
    </label>
<label class="label-subtit1">
    Get started now!
</label>
    <label class="label-subtit2">
    Chose login to continue or create to make your first profile
    </label>
      <br></br>
      <img class="img-center" src="{{ url_for('static' , filename = '/pictures/index.png') }}" width="600" height="500"  alt="Wellcome!"/>
{% endblock %}

