<!doctype html>
<title>VideoSharer</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Videosharer</h1>
   {% if user.is_authenticated %}
    <h2>User: {{ user.username }}</h2>
    {% endif %}
  <div class=metanav>
  {% if not user.is_authenticated %}
    <a href="{{ url_for('login') }}">log in</a>
    <a href="{{ url_for('create') }}">create</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% for message in get_flashed_messages() %}
    <div class=flash>{{ message }}</div>
  {% endfor %}
  {% block body %}{% endblock %}
</div>