{% extends "layout.html" %}
{% block body %}

<a href="{{ url_for('upload') }}">Upload Video</a>
        <ul class=entries>
            <li><h2>Your Videos</h2>
                {% for vid in user.videos %}
                         <video width="320" height="240" controls>
                            <source src="{{ url_for('static', filename = 'vid/%s' % (vid.filename)) }}">
                         </video>
                <br>
                <a href="{{ url_for('show_video', id=vid.id) }}">"Share/unshare/comment"</a>
                <br>

                {% else %}
                    <li><em>You have not shared anything with anyone at the moment</em>
                {% endfor %}

            <li><h2>Videos shared with you</h2>
                {% for shared_video in user.shares %}
                    <video width="320" height="240" controls>
                            <source src="{{ url_for('static', filename = 'vid/%s' % (shared_video.filename)) }}">
                    </video>
                <br>
                <a href="{{ url_for('show_video', id=shared_video.video_id) }}">"Share/unshare/comment"</a>
                <br>
                {% else %}
                    <li><em>No one has shared anything with you at the moment</em>
                {% endfor %}
        </ul>
{% endblock %}