{% extends "layout.html" %}
{% block body %}
        <a href="{{ url_for('profile') }}">Back</a>
        <ul class=entries>
            <li><h2>Upload Video</h2>

                <form action="" method=post enctype=multipart/form-data>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <p><input type=file name=file>
                        <input type=submit value=Upload>
                </form>
        </ul>
{% endblock %}