{% extends "layout.html" %}
{% block body %}
        <a href="{{ url_for('profile') }}">Back</a>

        <ul class=entries>
            <h2>{{ vid.filename }}</h2>
                <video class="img-center" width="320" height="240" controls>
                    <source class ="img-center" src="{{ url_for('static', filename = 'vid/%s' % (vid.filename)) }}">
                </video>

            {% if owner %}
                <h2>Share Video</h2>

                <form action="{{ url_for('share_video') }}" method=post>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    Share with:
                    <select class="share-select-center" name="userid">
                        {% for u in usernames %}
                            <option value="{{ u.id }}">{{ u.username }}</option>
                        {% endfor %}
                    </select>
                    <input name="vidId" type="hidden" value="{{ vid.id}}">
                    <input class="share-input-right" type=submit value=Share>
                </form>
                 <form action="{{ url_for('unshare') }}" method="post">
                     <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    Unshare:
                    <select class="share-select-center" name="shareduser">
                        {% for s in shares %}
                            <option value="{{ s.to_id}}">{{ s.user.username }}</option>
                        {% endfor %}
                    </select>
                    <input name="videoid" type="hidden" value="{{ vid.id }}">
                    <input class="share-input-right" type="submit" value=Unshare>

                </form>

            {% endif %}
            <li><h2>Comments</h2>
                <form action="{{ url_for('add_comment') }}" method=post class=add-entry>
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <dl>
                        <input name="videoid" type="hidden" value="{{ vid.id }}">
                        <dt>Text:
                        <dd><textarea name=text rows=5 cols=40></textarea>
                        <dd><input class="comment_Button" type=submit value=Comment>
                    </dl>
                </form>
                    {% for msg in vid.comments %}
                        <li><h3>{{msg.user.username}}</h3>{{ msg.data }}
                            {% else %}
                        <li><em>Unbelievable. No comments so far</em>
                        {% endfor %}
        </ul>
{% endblock %}
