body                { font-family: sans-serif; background: #eee; }
a, h1, h2           { color: #377ba8; text-align: center; }
h1, h2              { font-family: 'Georgia', serif; margin: 0; }
h1                  { border-bottom: 2px solid #eee; }
h2                  { font-size: 1.2em; }



.page               { margin: 2em auto; width: 45em; height: 45em; border: 5px solid #ccc;
                    padding: 0.8em; background: white; overflow: scroll}
.entries            { list-style: none; margin: 0; padding: 0; min-height: 200px;}
.entries li         { margin: 0.8em 1.2em; text-align: center; }
.entries li h2      { margin-left: -1em; }
.entries img        { align-self: center; }
.entries textarea   { width: 90%; text-align: center;}
.add-entry          { font-size: 0.9em; border-bottom: 1px solid #ccc; }
.add-entry dl       { font-weight: bold; }
.flash              { background: #cee5F5; padding: 0.5em;
                    border: 1px solid #aacbe2; text-align: center; }
.error              { background: #f0d6d6; padding: 0.5em; text-align: center;}

.metanav            { text-align: center; font-size: 0.8em; padding: 0.3em;
                   	 margin-bottom: 1em; background: #fafafa; }
.img-center         { display:block;  margin-left:auto;  margin-right:auto; }
.label-subtit1         { display: block; text-align: center; }
.label-subtit2        { display: block; text-align: center; }
.label-top           { display: block; text-align: center; }
.share-input-right  { float: right;  clear: both; width: 20%; }
.share-select-center{ background: transparent;  width: 25%; padding: 5px; line-height: 1;  border-radius: 0; -webkit-appearance: none; }
.comment_Button     { align-self: center; width: 20%}


